button.gdpr-privacy-show-banner {
    position: fixed;

    right: 0;

    bottom: calc(50% - 19px);
    padding: 5px 6px 4px;
    border: 1px solid #ccc;
    margin: 0;

    background-color: white;
    border-radius: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

    cursor: pointer;
    opacity: 0.75;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25px;
        height: 25px;
    }

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline: 1px solid currentColor !important;
        opacity: 1;
    }
}
