.vscode/
logs
*.log
npm-debug.log*
.DS_Store
*.swp
yarn-error.log

coverage
node_modules
build
dist
cache
.env.local
.env.development.local
.env.test.local
.env.production.local

# yarn 3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
